Assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#(i) string
a='hello world'

#(ii) list
l=[1,54,4+5j,'hello']

#(iii) float
f=3.4

#(iv) tuple
b=('hello','world','how','are','you')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answers) i) String ii) String iii) list iv) float

Q3. Explain the use of the following operators using an example:
Answers)
(i) / - It is used for division eg. 4/2 will give 2
(ii) % - It is used for modulus- gives you the remainder as the result after performing division eg. 5%2 will give 1
(iii) // - It is used for floor division, which means it rounds off to the nearest whole number after division eg. 5//2 will give 2
(iv) ** - It is used for exponential calculation eg. 2**2 will give 4.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
l=[4,5+4j,'hello',2.0,True,9,2+2j,'world',55.5,False]
l

[4, (5+4j), 'hello', 2.0, True, 9, (2+2j), 'world', 55.5, False]

In [3]:
for i in l:
    print (i)
    print(type(i))

4
<class 'int'>
(5+4j)
<class 'complex'>
hello
<class 'str'>
2.0
<class 'float'>
True
<class 'bool'>
9
<class 'int'>
(2+2j)
<class 'complex'>
world
<class 'str'>
55.5
<class 'float'>
False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:
a=int(input())

 10

In [5]:
b=int(input())

 2

In [6]:
while a % b == 0:
    print('It is purely divisible')
    break
else:
    print('It is not purely divisible')

It is purely divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
l=[3,6,8,13,16,18,21,23,27,30,32,36,38,42,44,49,53,66,77,88,99,100,101,104,110]
print(len(l))

for i in l:
    if i%3==0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

25
3 is divisible by 3
6 is divisible by 3
8 is not divisible by 3
13 is not divisible by 3
16 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
23 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
32 is not divisible by 3
36 is divisible by 3
38 is not divisible by 3
42 is divisible by 3
44 is not divisible by 3
49 is not divisible by 3
53 is not divisible by 3
66 is divisible by 3
77 is not divisible by 3
88 is not divisible by 3
99 is divisible by 3
100 is not divisible by 3
101 is not divisible by 3
104 is not divisible by 3
110 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
l=[4,5+4j,'hello',2.0,True,9,2+2j,'world',55.5,False]
l[0]=10 #forward index
l[-2]=22.2 #backward index
l

[10, (5+4j), 'hello', 2.0, True, 9, (2+2j), 'world', 22.2, False]

Answer) Mutable data types means they can be reassigned i.e. their indexes can be reassigned using forward or backward indexing 
for eg. List is mutable data type
As you can see in above eg. I changed the first element from 4 to 10 and second last element from 55.5 to 22.2

In [9]:
s='hello'
s[1]=a
s

TypeError: 'str' object does not support item assignment

Answer) Immutable data types means they cannot be reassigned i.e. their indexes cannot be reassigned using forward or backward indexing 
for eg. Sting is immutable data type
As you can see in above eg. I tried to change the second element which was 'e' to 'a' and it gave me an error